@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <form asp-action="AddVehicle" asp-controller="Vehicle" method="post" enctype="multipart/form-data">
        <p>
            <input name="Mark" label="Тип транспорту" />
        </p>
        <p>
            <label>Год Выпуска</label><br>
            <input type="number" name="BuildYear" />
        </p>
        <p>
            <label>Описание</label><br>
            <input name="Description" />
        </p>
        <p>
            <label>Стоимость</label><br>
            <input type="number" name="Price" />
        </p>
        <p>
            <input type="file" name="formFile" /><br>
            <input type="submit" value="Загрузить" />
        </p>
    </form>
        }
