@model IEnumerable<CarShop_vadimillia.Models.Vehicle>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Автосалон</title>
</head>
<body>
    <h3>Автомобили</h3>
    <table>
        <tr>
            <td>Марка</td>
            <td>Год выпуска</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.Mark</td>
                <td>@vehicle.BuildYear</td>
                <td>@vehicle.Price</td>
                <td><a href="~/Home/Buy/@vehicle.Id">Купить</a></td>
            </tr>
        }
    </table>
</body>
</html>
