@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< Updated upstream
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
=======
<html>
<head>
    <title>Автосалон</title>
</head>
<body>
    <h3>Автомобили</h3>
    <table>
        <tr>
            <td>Марка</td>
            <td>Год выпуска</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.Mark</td>
                <td>@vehicle.BuildYear</td>
                <td>@vehicle.Price</td>
                <td><a href="~/Home/Buy/@vehicle.Id">Купить</a></td>
            </tr>
        }
    </table>
</body>
</html>
>>>>>>> Stashed changes
